<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h3>EUPHORIA</h3>
            <p>
                Welcome to Euphoria, your ultimate destination for exquisite jewelry and classy accessories. 
                We take pride in offering premium-quality collections, exceptional customer service, and a seamless shopping experience. 
                From elegant statement pieces to timeless everyday wear, we have everything you need to elevate your style with sophistication and grace.
            </p>
            <div class="play-store-box">
                <i class="fa-brands fa-google-play"></i>
                <div class="play-text">
                    <p>Get the App on</p>
                    <h2>GOOGLE PLAY</h2>
                </div>
            </div>
            
        </div>
        
        <div class="footer-section links">
            <h4>Get to know us</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Store Locations</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Affiliate & Partnerships</a></li>
                <li><a href="#">Blog & Tech Guides</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press & Media</a></li>
            </ul>
        </div>
        
        <div class="footer-section consumers">
            <h4>For Consumers</h4>
            <ul>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Customer Care Support</a></li>
                <li><a href="#">Warranty Guidelines</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        
        <div class="footer-section contact">
            <h4>Contact Us</h4>
            <p>📍 Euphoria HQ</p>
            <p>1984 Euphoria, Trade Center<br>Kochi, Kerala, India</p>
            <p>📧 Email: <a href="mailto:support@euphoria.com">support@euphoria.com</a></p>
            <p>📞 Phone: +1-800-EUPHORIA</p>
            <p>📠 Fax: +1-123-456-7890</p>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="social-icons">
            <!-- <a href="#"><img src="" alt="Facebook"></a> -->
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-square-instagram"></i>


        </div>
        <p>© 2025 Euphoria - All Rights Reserved.</p>
        <div class="payment-icons">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-paypal"></i>
        </div>
    </div>
</footer>

</body>
</html>
