<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euphoria - Jewelry Store</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>


<style>
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1000;
    right: 0;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.header{
    position: relative;
    z-index: 500;
}
</style>
<body>

    <!-- Navigation Bar -->
    <!-- <header> -->
        <section class="hero">
        <nav class="navbar">
            <div class="nav-left">
                <a href="#">CATEGORIES</a>
                <a href="#">ABOUT</a>
                <a href="#">CONTACT</a>
            </div>
            <!-- <div class="nav-center">EUPHORIA</div> -->
            <!-- <div class="nav-right">
                <a href="#">EN</a>
                <a href="#">🔍</a>
                <a href="#">🛒</a>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
            </div> -->
            <div class="nav-right">
                <div class="nav-center">EUPHORIA</div>
                <div class="nav-right">
                    
                    
    
                <a href="#">EN <i class="fa-solid fa-chevron-down"></i></a>  
                <span class="divider">|</span>  <!-- Divider Line -->
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>  <!-- Cart Icon -->
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>  <!-- Search Icon -->
                <a href="#"><i class="fa-regular fa-heart"></i></a>  <!-- Heart Icon -->
                <a href="#"><i class="fa-regular fa-user"></i></a>  <!-- Profile Icon -->
                <br>
                <a href="/signup">Logout</a>
            </div>
            
        </nav>
    <!-- </header> -->