<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="404pagenotfound.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <header class="navbar">
        <div class="logo">EUPHORIA</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#" class="active">Products</a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fa-regular fa-heart"></i>   <!-- Heart -->
            <i class="fa-solid fa-magnifying-glass"></i>  <!-- Search -->
            <i class="fa-solid fa-cart-shopping"></i>  <!-- Cart -->
            <i class="fa-solid fa-user"></i>  <!-- User -->
        </div>
        
    </header>

    <section class="error-container">
        <img src="./photos/pagenotfound.jpg" alt="404 Error Illustration">
        <div class="error-text">
            <h2>Looks like the page doesn’t exist</h2>
            <p>Back to <a href="/">home</a></p>
        </div>
    </section>
</body>
</html>
